<h3>Estatísticas: </h3>
<br>
<p>Número total de usuários cadastrados: {{Nusuarios}}</p>
<p>Número total de postagens cadastradas: {{Npostagens}}</p>
<p>Número total de categorias cadastradas: {{Ncategorias}}</p>
<p>Número total de emails cadastrados na newslatter: {{Ninscritos}}</p>
<p>Número total de comentários: {{Ncomentarios}}</p>
